:root {
  --secondary-color: #2e9da4;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600px;
  font-size: 68px !important;
  color: white;
  margin-top: 0px;
}

h2 {
  font-size: 36px;
  font-weight: normal;
  color: white;
  margin: 0px !important;
}

.hero {
  background-color: black;
  padding-inline-end: 160px 20px;
  max-height: 546px;
  width: 100%;
}
.hero a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.hero p {
  color: white;
  opacity: 50%;
}

.hero-title {
  margin-left: 155px;
  padding: 150px 0px;
}

.hero img {
  width: 900px;
  position: relative;
  top: -167px;
  left: -200px;
  margin-right: 200px;
}

@media (max-width: 900px) {
  .hero {
    text-align: center;
  }
  .hero-title{
    padding-top: 80px;
  }
}
