:root {
  --secondary-color: #2e9da4;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 62px !important;
  color: white;
  margin-top: 0px;
}

.hero h2 {
  font-size: 36px;
  font-weight: normal;
  color: white;
  margin: 0px !important;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 50px !important;
  padding-top: 30px;
}

h6 {
  font-family: "Playfair Display", serif;
  color: var(--secondary-color);
  font-size: 25px !important;
  font-weight: 900 !important;
  margin: 0px !important;
}

p {
  opacity: 70%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.footer {
  background: black;
  padding: 40px 0px;
  display: flex;
  justify-content: space-around;
}

.tools {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--secondary-color);
}



.hero {
  background-color: black;
  padding-inline-end: 160px 20px;
  max-height: 546px;
  width: 100%;
}

.hero a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.hero a:hover{
    color: white;
}

.hero p {
  color: white;
  opacity: 50%;
}

.hero-title {
  padding: 150px 0px;
  padding-left: 200px !important;
  margin-left: 150px!important;
}

.hero img {
  width: 700px;
  position: relative;
  top: -116px;
  left: -400px;
  opacity: 70%;
}

.subheading {
  color: var(--secondary-color);
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
  padding-top: 50px;
}

.btn-color {
  color: white;
  background: var(--secondary-color);
  border-radius: 15px;
  padding: 10px 25px;
  text-decoration: none;
  border: 1px solid var(--secondary-color);
  width: 200px;
}

.btn-transparent {
  background: white;
  color: var(--secondary-color);
  border-radius: 15px;
  border: 1px solid var(--secondary-color);
  padding: 10px 25px;
  text-decoration: none;
  width: 200px;
}

.my-work {
  background: #f3f9fa;
  padding-bottom: 80px;
}

.about-section h1,h2{
    color: black;
}

.about-section h1{
    font-weight: 900;
}

.about-section h3{
    font-size: 24px;
    font-weight: 700;
}

.about-section{
    padding: 160px 20px;
}

.about-section-content{
    margin: 30px 30px ;
}


@media (max-width: 915px) {
  h1 {
    font-size: 50px !important;
  }
  .hero {
    text-align: center;
  }

  .hero-title {
    padding-top: 80px;
    padding-left: 0px !important;
    margin-left: 0px!important;
  }

  .about-me,
  .my-work {
    text-align: center;
  }

  .footer img {
    width: 80px;
  }

  .footer a {
    font-size: 11px;
  }

  #contact-me {
    font-size: 18px !important;
  }

  .about-me a {
    display: block;
    margin: 10px auto !important;
  }


  .about-section{
      padding:0px;
      text-align: center;
  }

}
