:root {
  --secondary-color: #2e9da4;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600px;
  font-size: 68px !important;
  color: white;
  margin-top: 0px;
}

h2 {
  font-size: 36px;
  font-weight: normal;
  color: white;
  margin: 0px !important;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  padding-top: 30px
}

p {
  opacity: 70%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

}

.hero {
  background-color: black;
  padding-inline-end: 160px 20px;
  max-height: 546px;
  width: 100%;
}

.hero a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.hero p {
  color: white;
  opacity: 50%;
}

.hero-title {
  padding: 150px 0px;
  padding-left: 200px !important;
}

.hero img {
  width: 700px;
  position: relative;
  top: -116px;
  left: -200px;
}

.subheading {
  color: var(--secondary-color);
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}

.btn-color{
    color: white;
    background: var(--secondary-color);
    border-radius: 15px;
    padding: 10px 25px;
    text-decoration: none;
    border: 1px solid var(--secondary-color);
}

.btn-transparent{
     background: white;
    color: var(--secondary-color);
    border-radius: 15px;
    border: 1px solid var(--secondary-color);
    padding: 10px 25px;
    text-decoration: none;

}


@media (max-width: 900px) {
  .hero {
    text-align: center;
  }
  .hero-title {
    padding-top: 80px;
    padding-left: 0px !important;
  }

  .about-me{
      text-align: center;
  }
}
